mixin nav
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          i.fa.fa-trophy
          span Y! Fantasy API
      #navbar.navbar-collapse.collapse
        .navbar-right
          ul.nav.navbar-nav
              if null == user
                li
                  a.btn.login-btn(href="/auth/yahoo", title="Login with Yahoo") Login with Y!
              else
                li.dropdown
                  a.user.clearfix.dropdown-toggle(href='#', data-toggle='dropdown')
                    .name #{user.name}
                    .avatar
                      img(src=user.avatar)
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/logout') Logout
        ul.nav.navbar-nav
          li(class=activeClass == 'home' ? 'active' : '')
            a(href='/') Home
          li.dropdown(class=data.resource == 'game' || data.resource == 'games' ? 'active' : '')
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Game
              span.caret
            ul.dropdown-menu(role='menu')
              li.dropdown-header Game Resource
              li
                a(href='/resource/game/meta') Meta
              li
                a(href='/resource/game/leagues') Leagues
              li
                a(href='/resource/game/players') Players
              li
                a(href='/resource/game/game_weeks') Game Weeks
              li
                a(href='/resource/game/stat_categories') Stat Categories
              li
                a(href='/resource/game/position_types') Position Types
              li
                a(href='/resource/game/roster_positions') Roster Positions
              li.divider
              li.dropdown-header Games Collection
              li
                a(href='/collection/games/fetch') Games
              li
                a(href='/collection/games/user') User
              li
                a(href='/collection/games/userFetch') User Games
          li.dropdown(class=data.resource == 'league' || data.resource == 'leagues' ? 'active' : '')
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | League
              span.caret
            ul.dropdown-menu(role='menu')
              li.dropdown-header League Resource
              li
                a(href='/resource/league/meta') Meta
              li
                a(href='/resource/league/settings') Settings
              li
                a(href='/resource/league/standings') Standings
              li
                a(href='/resource/league/scoreboard') Scoreboard
              li
                a(href='/resource/league/teams') Teams
              //- li
                a(href='/resource/league/players') Players (better with just players collection by league)
              li
                a(href='/resource/league/draft_results') Draft Results
              li
                a(href='/resource/league/transactions') Transactions
              li.divider
              li.dropdown-header Leagues Collection
              li
                a(href='/collection/leagues/fetch') Leagues
          li.dropdown(class=data.resource == 'player' || data.resource == 'players' ? 'active' : '')
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Player
              span.caret
            ul.dropdown-menu(role='menu')
              li.dropdown-header Player Resource
              li
                a(href='/resource/player/meta') Meta
              li
                a(href='/resource/player/stats') Stats
              li
                a(href='/resource/player/ownership') Ownership
              li
                a(href='/resource/player/percent_owned') Percent Owned
              li
                a(href='/resource/player/draft_analysis') Draft Analysis
              li.divider
              li.dropdown-header Players Collection
              li
                a(href='/collection/players/fetch') Players
              li
                a(href='/collection/players/leagues') League Players
              li
                a(href='/collection/players/teams') Team Players
          li.dropdown(class=data.resource == 'roster' ? 'active' : '')
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Roster
              span.caret
            ul.dropdown-menu(role='menu')
              li.dropdown-header Roster Resource
              li
                a(href='/resource/roster/players') Players
          li.dropdown(class=data.resource == 'team' || data.resource == 'teams' ? 'active' : '')
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Team
              span.caret
            ul.dropdown-menu(role='menu')
              li.dropdown-header Team Resource
              li
                a(href='/resource/team/meta') Meta
              li
                a(href='/resource/team/stats') Stats
              li
                a(href='/resource/team/standings') Standings
              li
                a(href='/resource/team/roster') Roster
              li
                a(href='/resource/team/draft_results') Draft Results
              li
                a(href='/resource/team/matchups') Matchups
              li.divider
              li.dropdown-header Teams Collection
              li
                a(href='/collection/teams/fetch') Teams
              li
                a(href='/collection/teams/leagues') League Teams
              //- li
                a(href='/collection/teams/userFetch') User Teams // currently throwing a 500 error... ?
              li
                a(href='/collection/teams/games') User Games Teams
          li.dropdown(class=data.resource == 'transaction' || data.resource == 'transactions' ? 'active' : '')
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Transaction
              span.caret
            ul.dropdown-menu(role='menu')
              li.dropdown-header Transaction Resource
              li
                a(href='/resource/transaction/meta') Meta
              li
                a(href='/resource/transaction/players') Players
              li.divider
              li.dropdown-header Transactions Collection
                li
                  a(href='/collection/transactions/add_player') Add Player
                li
                  a(href='/collection/transactions/drop_player') Drop Player
                li
                  a(href='/collection/transactions/adddrop_player') Add/Drop Player
          li.dropdown(class=data.resource == 'user' || data.resource == 'users' ? 'active' : '')
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | User
              span.caret
            ul.dropdown-menu(role='menu')
              li.dropdown-header User Resource
              li
                a(href='/resource/user/games') Games
              li
                a(href='/resource/user/game_leagues') Leagues
              li
                a(href='/resource/user/game_teams') Teams
              //- li.divider // removed for now as it doesn't seem very useful...
              //- li.dropdown-header Users Collection
              //- li
              //-   a(href='/collection/users/fetch') Users
